[Unit]
Description=fontsrv
After=default.target

[Service]
Type=simple
Environment=PLAN9=/usr/lib/plan9
ExecStart=/usr/lib/plan9/bin/fontsrv

[Install]
WantedBy=default.target
