[Unit]
Description=plumber
Documentation=man:plumber(4)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=forking
Environment=PLAN9=/usr/lib/plan9
Environment=PATH=/usr/bin:/usr/lib/plan9/bin
ExecStart=/usr/lib/plan9/bin/plumber

[Install]
WantedBy=graphical-session.target
